<div *ngIf="loading" class="overlay">
    <div class="loading-spinner">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>


<div class="warning-alert" *ngIf="showWarningAlert" [ngClass]="alertAnimation">
    <!-- Warning alert content -->
    <div class="warning-alert-content">
        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <span class="font-medium">Danger alert!</span> alert message
        </div>
    </div>
  </div>




<div class="px-4 sm:px-6 md:px-8">
    <dropzone [config]="config" [message]="customMessage" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
    <form (ngSubmit)="sendOptions()">
    <div class="relative max-w-5xl mx-auto pt-10 sm:pt-12 lg:pt-16">
        <input type="hidden" [(ngModel)]="videoId" name="hiddenValue" />
        <h3 class="mb-5 text-lg font-medium text-gray-900 dark:text-white">Выберете эффекты:</h3>
        <ul class="grid w-full gap-6 md:grid-cols-3">
            <li>
                <input type="checkbox" id="color-option" [(ngModel)]="colorOp" name="colorOp" value="" class="hidden peer" required="">
                <label for="color-option"
                    class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <div class="block">
                        <svg class="mb-2 w-7 h-7 text-sky-500" fill="currentColor" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9.53 16.122a3 3 0 00-5.78 1.128 2.25 2.25 0 01-2.4 2.245 4.5 4.5 0 008.4-2.245c0-.399-.078-.78-.22-1.128zm0 0a15.998 15.998 0 003.388-1.62m-5.043-.025a15.994 15.994 0 011.622-3.395m3.42 3.42a15.995 15.995 0 004.764-4.648l3.876-5.814a1.151 1.151 0 00-1.597-1.597L14.146 6.32a15.996 15.996 0 00-4.649 4.763m3.42 3.42a6.776 6.776 0 00-3.42-3.42" />
                          </svg>
                          
                        <div class="w-full text-lg font-semibold">Цвет</div>
                        <div class="w-full text-sm">DeOldify сможет преобразить ваше черно-белое видео</div>
                    </div>
                </label>
            </li>
            <li>
                <input type="checkbox" id="upscale-option" [(ngModel)]="scaleOp" name="scaleOp" value="" class="hidden peer">
                <label for="upscale-option"
                    class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <div class="block">
                        <svg class="mb-2 text-green-400 w-7 h-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" />
                          </svg>
                          
                        <div class="w-full text-lg font-semibold">Разрешение</div>
                        <div class="w-full text-sm">Какая-то нейронка сделает апскейл вашего ролика</div>
                    </div>
                </label>
            </li>
            <li>
                <input type="checkbox" id="framerate-option" [(ngModel)]="frameOp" name="frameOp" value="" class="hidden peer">
                <label for="framerate-option"
                    class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <div class="block">
                        <svg class="mb-2 text-red-600 w-7 h-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062A1.125 1.125 0 013 16.81V8.688zM12.75 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062a1.125 1.125 0 01-1.683-.977V8.688z" />
                          </svg>
                          
                        <div class="w-full text-lg font-semibold">Кадры</div>
                        <div class="w-full text-sm">Мало кадров в секунду? Ничего, нейронка - какая-то нейронка, исправит это!</div>
                    </div>
                </label>
            </li>
        </ul>
        <div class="mt-10 flex items-center justify-center">
            <button 
              class="rounded-md bg-gradient-to-r from-cyan-500 to-blue-500 px-7 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" [disabled]="!fileSelected">
              Colorize</button>
          </div>

    </div>
</form>

<div *ngIf="videoIsReady" class="relative max-w-5xl mx-auto pt-10 sm:pt-12 lg:pt-16 pb-10 sm:pb-12 lg:pb-16">
    <div class="text-xl text-center font-medium leading-6 space-y-4">
        <a [href]="videoUrl" class="no-underline text-cyan-600 dark:text-cyan-400" download="">Скачать ваше видео</a>
    </div>
    <div class="mt-4 -mb-3">
        <div style="margin-right:0px" class="not-prose relative bg-slate-50 rounded-xl overflow-hidden dark:bg-slate-800/25">
            <div style="background-position:10px 10px" class="absolute inset-0 bg-grid-slate-100 [mask-image:linear-gradient(0deg,#fff,rgba(255,255,255,0.6))] dark:bg-grid-slate-700/25 dark:[mask-image:linear-gradient(0deg,rgba(255,255,255,0.1),rgba(255,255,255,0.5))]">
            </div>
            <div class="relative rounded-xl overflow-auto p-8">
                <iframe class="w-full aspect-video rounded-lg shadow-lg" [src]="videoUrl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            </div>

            <div class="absolute inset-0 pointer-events-none border border-black/5 rounded-xl dark:border-white/5"></div>
        </div>
    </div>
</div>

<!-- <video src="http://localhost/80f07a02-ca93-4113-b2ce-4ff7965514ba.mp4" controls>
    Your browser does not support the video tag.
</video> -->


<!-- <div class="flex flex-col items-center justify-center pt-5 pb-6"><svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg><p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p><p class="text-xs text-gray-500 dark:text-gray-400">MP4, GIF</p></div> -->